<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender class="org.apache.log4j.ConsoleAppender" name="stdout">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%c] %p: %m%n" />
		</layout>
	</appender>

	<appender class="org.apache.log4j.RollingFileAppender" name="file">
		<param name="File" value="log/UniversityData.log" />
		<param name="MaxFileSize" value="10MB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%c] %p: %m%n" />
		</layout>
	</appender>

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
	</root>
</log4j:configuration>
